[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-webhook = "*"
nikola = "*"
"mastodon.py" = "*"

[dev-packages]

[requires]
python_version = "3.7"
