[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nikola = "*"
discord-webhook = "*"
"mastodon.py" = "*"
"ruamel.yaml" = "*"
aiohttp = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.8"
